# Ignore IDE settings
/.classpath
/.project
/.settings/
/.idea/
/*.iml

# Ignore build folders
/bin/
/build/

# Ignore system files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Ignore compiled Java files
*.class
